@CHARSET "UTF-8";
/* 
    Document   : corpV2CssUtil
    Created on : May 16, 2012, 8:59:47 PM
    Author     : roberto
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.emulateField {
    margin:1.3em 0; padding:0.4em; height:100%;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-top: 1px solid #F2F0EE;
   }
.legendField { 
    font-size:100%; 
    font-weight:normal; 
    margin:-.8em 0 0; 
    background:white; 
    color:black; 
    float:left; 
    padding:0 1px; 
}
.estiloH + * { 
    clear:left; 
}

.estiloLinkField { 
    padding: .2em 1em; 
    text-decoration: none; 
}