@CHARSET "UTF-8";
.label-bold{
	font-weight: bold;
}

.titulo{
	font-weight: bold;
	font-size: medium;
}

.espacioDetalle{
	padding-right: 40px;
}

.alinearLeft{
	text-align:left;
	font-weight: bold;
}
.alinearCenter{
	text-align:center;
	font-weight: bold;
}