@CHARSET "UTF-8";
input[type='submit'].saveAjax {
	height: 34px;
	width: 100px;
	border: 1px solid #006;
	border-style: outset;
	/*background-color: SkyBlue;*/
	background-color: none repeat scroll 0 0 #FFFFFF;
	padding-left: 4px;
	padding-right: 4px;
	background-repeat: no-repeat;
	background-image: url('#{resource['images:save.png']}');
	background-position: left;
	/*text-indent: 20px;*/
	text-align:justify;
	cursor:pointer;
	font-weight: bold;
	font-style: oblique;
	
	
	border-radius: 34px 14px 34px 14px;
}

.btnAux{
	border-radius: 5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	height:20px;
	
	background-color: SkyBlue;
	background-color: none repeat scroll 0 0 #FFFFFF;
	background-position:left;
	
	padding-left: 4px;
	padding-right: 4px;
	
	text-indent: 20px;
	text-align: right;
	cursor:pointer;
}


input[type='submit'].removeBtn {
	background-image: url('#{resource['images/icons:delete.gif']}');
	background-repeat: no-repeat;
	background-position: left;
}

input[type='submit'].addBtn {
	background-image: url('#{resource['images/icons:add.gif']}');
	background-repeat: no-repeat;
	
	background-position: left;
}

input[type='submit'].logoutBtn {
	background-image: url('#{resource['images/icons:application-exit.png']}');
	background-repeat: no-repeat;	
	background-position: left;
}

.rmsg-parent-cmp{
	width: 20px !important;
	display: block;
}

.rmsg-parent-cmp .rf-msg-det {
          visibility: hidden;
          height: 14px !important ;
      }
      
.rmsg-parent-cmp .rf-msg-err{
	background-image: url('#{resource['images:circle-alert.png']}') !important;
	width: 6px !important;
	height: 14px !important ;
}

.cajaRequerida{
	background-color:#FBEFFB !important;
	background-image: none !important;
}