
@CHARSET "UTF-8";
/* 
    Document   : componentsCss
    Created on : May 16, 2012, 8:59:47 PM
    Author     : roberto
    Description: Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/
*/

.mainDivCollap{
    border-top-width:0px !important;
    border-right-width:0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    background:none repeat scroll 0 0 transparent !important;
}

.headerDivCollap{
    border-top-width:0px !important;
    border-right-width:0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    
    background-color:white !important;
    background-image:none !important;
    background:none repeat scroll 0 0 transparent !important;
}

.rf-cp-lbl-exp{
	border-top-width:2px !important;
	background-image:url("#{resource['images/icons:linexrepeat.png']}");
	background-repeat:repeat-x;
}

.rf-cp-lbl-colps{
	border-top-width:2px !important;
	background-image:url("#{resource['images/icons:linexrepeat.png']}");
	background-repeat:repeat-x;
}




