@CHARSET "UTF-8";

.even-row {
	background-color: #FCFFFE;
}

.odd-row {
	background-color: #ECF3FE;
}

.active-row {
	background-color: #FFEBDA !important;
	cursor: pointer;
}

.removeSpacesTable{
    border-collapse: collapse;
   	border-spacing: 0;
       	
}
.colRemoveSpace{
	padding-left: 0px;
}

.ui-dt-c div table, .ui-dt-c div table tr, .ui-dt-c div table tr td{
	border: 0px !important;
}